# Import Libraries and Data

In [33]:
import os
import glob

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

Data Courtesy of https://www.kaggle.com/code/gitanjali1425/predicting-car-battery-heating-data/input

In [19]:
overview = pd.read_excel("archive/Overview.xlsx")
overview.head()

,Trip,Date,Route/Area,Weather,Battery Temperature (Start) [°C],Battery Temperature (End),Battery State of Charge (Start),Battery State of Charge (End),Unnamed: 8,Ambient Temperature (Start) [°C],Target Cabin Temperature,Distance [km],Duration [min],Unnamed: 13,Fan,Note
0,TripA01,2019-06-25_13-21-14,Munich East,sunny,21.0,22.0,0.863,0.803,0.060,25.5,23.0,7.427690,16.820000,NaN,"Automatic, Level 1",NaN
1,TripA02,2019-06-25_14-05-31,Munich East,sunny,23.0,26.0,0.803,0.673,0.130,32.0,23.0,23.509709,23.550000,NaN,"Automatic, Level 1",Target Cabin Temperature changed
2,TripA03,2019-06-28_10-02-15,Munich East,sunny,24.0,25.0,0.835,0.751,0.084,21.5,27.0,12.820846,11.180000,NaN,"Automatic, Level 1",Target Cabin Temperature changed
3,TripA04,2019-06-28_10-13-30,Munich East,sunny,25.0,27.0,0.751,0.667,0.084,24.0,22.0,10.727491,6.870000,NaN,"Automatic, Level 1",NaN
4,TripA05,2019-06-28_10-20-26,Munich East,sunny,27.0,27.0,0.667,0.602,0.065,24.5,24.0,12.393223,22.776667,NaN,"Automatic, Level 1",NaN

In [35]:
# Import Trip Data Set
for dirname, _, filenames in os.walk('archive/'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

archive/Overview.xlsx
archive/readin.m
archive/TripA01.csv
archive/TripA02.csv
archive/TripA03.csv
archive/TripA04.csv
archive/TripA05.csv
archive/TripA06.csv
archive/TripA07.csv
archive/TripA08.csv
archive/TripA09.csv
archive/TripA10.csv
archive/TripA11.csv
archive/TripA12.csv
archive/TripA13.csv
archive/TripA14.csv
archive/TripA15.csv
archive/TripA16.csv
archive/TripA17.csv
archive/TripA18.csv
archive/TripA19.csv
archive/TripA20.csv
archive/TripA21.csv
archive/TripA22.csv
archive/TripA23.csv
archive/TripA24.csv
archive/TripA25.csv
archive/TripA26.csv
archive/TripA27.csv
archive/TripA28.csv
archive/TripA29.csv
archive/TripA30.csv
archive/TripA31.csv
archive/TripA32.csv
archive/TripB01.csv
archive/TripB02.csv
archive/TripB03.csv
archive/TripB04.csv
archive/TripB05.csv
archive/TripB06.csv
archive/TripB07.csv
archive/TripB08.csv
archive/TripB09.csv
archive/TripB10.csv
archive/TripB11.csv
archive/TripB12.csv
archive/TripB13.csv
archive/TripB14.csv
archive/TripB15.csv
archive/TripB16.csv
archive/TripB17.csv
archive/TripB18.csv
archive/TripB19.csv
archive/TripB20.csv
archive/TripB21.csv
archive/TripB22.csv
archive/TripB23.csv
archive/TripB24.csv
archive/TripB25.csv
archive/TripB26.csv
archive/TripB27.csv
archive/TripB28.csv
archive/TripB29.csv
archive/TripB30.csv
archive/TripB31.csv
archive/TripB32.csv
archive/TripB33.csv
archive/TripB34.csv
archive/TripB35.csv
archive/TripB36.csv
archive/TripB37.csv
archive/TripB38.csv

In [22]:
# Reading a single file to see what the data provides
df = pd.read_csv("archive/TripA01.csv", sep=";", encoding="unicode_escape")
df.head()

,Time [s],Velocity [km/h],Elevation [m],Throttle [%],Motor Torque [Nm],Longitudinal Acceleration [m/s^2],Regenerative Braking Signal,Battery Voltage [V],Battery Current [A],Battery Temperature [°C],...,AirCon Power [kW],Heater Signal,Heater Voltage [V],Heater Current [A],Ambient Temperature [°C],Coolant Temperature Heatercore [°C],Requested Coolant Temperature [°C],Coolant Temperature Inlet [°C],Heat Exchanger Temperature [°C],Cabin Temperature Sensor [°C]
0,0.0,0.0,574.0,0.0,0.0,-0.03,0.0,391.4,-2.20,21.0,...,0.4,1,0,0,25.5,0,0,0,30.5,24.5
1,0.1,0.0,574.0,0.0,0.0,0.00,0.0,391.4,-2.21,21.0,...,0.4,1,0,0,25.5,0,0,0,30.5,24.5
2,0.2,0.0,574.0,0.0,0.0,-0.01,0.0,391.4,-2.26,21.0,...,0.4,1,0,0,25.5,0,0,0,30.5,24.5
3,0.3,0.0,574.0,0.0,0.0,-0.03,0.0,391.4,-2.30,21.0,...,0.4,1,0,0,25.5,0,0,0,30.5,24.5
4,0.4,0.0,574.0,0.0,0.0,-0.03,0.0,391.4,-2.30,21.0,...,0.4,1,0,0,25.5,0,0,0,30.5,24.5

# Exploratory Data Analysis

In [23]:
overview.shape

(72, 16)

In [24]:
df.shape

(10090, 28)

In [25]:
overview.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72 entries, 0 to 71
Data columns (total 16 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Trip                              70 non-null     object
 1   Date                              70 non-null     object
 2   Route/Area                        70 non-null     object
 3   Weather                           70 non-null     object
 4   Battery Temperature (Start) [°C]  70 non-null     float64
 5   Battery Temperature (End)         70 non-null     float64
 6   Battery State of Charge (Start)   70 non-null     float64
 7   Battery State of Charge (End)     70 non-null     float64
 8   Unnamed: 8                        70 non-null     float64
 9   Ambient Temperature (Start) [°C]  70 non-null     float64
 10  Target Cabin Temperature          70 non-null     float64
 11  Distance [km]                     70 non-null     float64
 12  Duration [min]                    70 non-null     float64
 13  Unnamed: 13                       0 non-null      float64
 14  Fan                               70 non-null     object
 15  Note                              26 non-null     object
dtypes: float64(10), object(6)
memory usage: 9.1+ KB

In [29]:
# Column 8 refers to the change in battery from start to finish. We will rename to Delta Battery
overview.rename(columns={"Unnamed: 8": "Delta Battery"}, inplace=True)

# Column 13 is a empty column so we will delete it
overview = overview.drop(columns=['Unnamed: 13'])

overview.head()

,Trip,Date,Route/Area,Weather,Battery Temperature (Start) [°C],Battery Temperature (End),Battery State of Charge (Start),Battery State of Charge (End),Delta Battery,Ambient Temperature (Start) [°C],Target Cabin Temperature,Distance [km],Duration [min],Fan,Note
0,TripA01,2019-06-25_13-21-14,Munich East,sunny,21.0,22.0,0.863,0.803,0.060,25.5,23.0,7.427690,16.820000,"Automatic, Level 1",NaN
1,TripA02,2019-06-25_14-05-31,Munich East,sunny,23.0,26.0,0.803,0.673,0.130,32.0,23.0,23.509709,23.550000,"Automatic, Level 1",Target Cabin Temperature changed
2,TripA03,2019-06-28_10-02-15,Munich East,sunny,24.0,25.0,0.835,0.751,0.084,21.5,27.0,12.820846,11.180000,"Automatic, Level 1",Target Cabin Temperature changed
3,TripA04,2019-06-28_10-13-30,Munich East,sunny,25.0,27.0,0.751,0.667,0.084,24.0,22.0,10.727491,6.870000,"Automatic, Level 1",NaN
4,TripA05,2019-06-28_10-20-26,Munich East,sunny,27.0,27.0,0.667,0.602,0.065,24.5,24.0,12.393223,22.776667,"Automatic, Level 1",NaN

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10090 entries, 0 to 10089
Data columns (total 28 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Time [s]                             10090 non-null  float64
 1   Velocity [km/h]                      10090 non-null  float64
 2   Elevation [m]                        10090 non-null  float64
 3   Throttle [%]                         10090 non-null  float64
 4   Motor Torque [Nm]                    10090 non-null  float64
 5   Longitudinal Acceleration [m/s^2]    10090 non-null  float64
 6   Regenerative Braking Signal          10090 non-null  float64
 7   Battery Voltage [V]                  10090 non-null  float64
 8   Battery Current [A]                  10090 non-null  float64
 9   Battery Temperature [°C]             10090 non-null  float64
 10  max. Battery Temperature [°C]        10090 non-null  float64
 11  SoC [%]                              10090 non-null  float64
 12  displayed SoC [%]                    10090 non-null  float64
 13  min. SoC [%]                         10090 non-null  int64
 14  max. SoC [%)                         10090 non-null  int64
 15  Heating Power CAN [kW]               10090 non-null  float64
 16  Heating Power LIN [W]                10090 non-null  int64
 17  Requested Heating Power [W]          10090 non-null  int64
 18  AirCon Power [kW]                    10090 non-null  float64
 19  Heater Signal                        10090 non-null  int64
 20  Heater Voltage [V]                   10090 non-null  int64
 21  Heater Current [A]                   10090 non-null  int64
 22  Ambient Temperature [°C]             10090 non-null  float64
 23  Coolant Temperature Heatercore [°C]  10090 non-null  int64
 24  Requested Coolant Temperature [°C]   10090 non-null  int64
 25  Coolant Temperature Inlet [°C]       10090 non-null  int64
 26  Heat Exchanger Temperature [°C]      10090 non-null  float64
 27  Cabin Temperature Sensor [°C]        10090 non-null  float64
dtypes: float64(18), int64(10)
memory usage: 2.2 MB